@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.card-container {
  min-width: 200px;
  max-width: 200px;
  font-family: var(--font_Primario);
  height: 130px;
  margin: 1em auto 2em auto !important;
  background-size: cover;
  background-position: center;
  //box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */

  .card-image {
    height: 130px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;

    .title-card {
      display: flex;
      flex-direction: column;
      white-space: initial;
      color: black;
      font-size: 16px;
      font-weight: bold;
      padding: 1.2rem;
      text-align: start;
    }
  }
}
.card-container:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

.disc-btn {
  background-color: white !important;
  color: var(--colorPrimary);
  border: white 1px solid;
  font-weight: bold;
  margin-top: 5px;
  width: fit-content;
  font-family: var(--font_Primario);
  border-radius: 15px;
  padding: 5px 8px;
}

.swiperDisc {
  .swiper-button-next, .swiper-button-prev {
    padding: 2px;
    color: #ffffff !important;
    fill: black !important;
    stroke: black !important;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
  }
  .swiper-button-next { right: -4%;}
  .swiper-button-prev { left: -4%;}
}
