<div style="width: 100%; display: flex; justify-content: center; margin: 2em 0 2.5em 0; position: relative;">
  <!--  COMPONENTE GLIDE DEL CARD DE CURSOS-->
  <swiper
    *ngIf="listCoursesList.length != 0"
    [slidesPerView]="4"
    [spaceBetween]="0"
    [slidesPerGroup]="4"
    [loop]="true"
    [pagination]="false"
    [navigation]="true"
    [breakpoints]="breakpoints"
    class="swiperDisc"
  >
    <ng-template swiperSlide *ngFor="let course of listCoursesList">
      <div class="card-container" [ngStyle]="{'background-image':'url('+ course.imgSource +')'}">
        <div class="card-image">
          <div class="title-card">
            {{course.discount}}% {{course.title}}
            <br>
            {{course.declaration}}
            <button class="disc-btn">Get Now</button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>

</div>
