.card-product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: center;
  width: 200px;
  background-color: var(--colorSecondaryLight);
  border-radius: 15px;
  padding: 12px;
  margin: 8px;
  img {
    margin: auto;
    padding: 12px 0;
    width: 100px;
    height: 100px;
  }
}
.card-product:hover {
  background-color: var(--colorSecondary-200);

}

.card-product .title-wrapper {
  border-radius: 12px;
  background: white;
  padding: 8px;
  margin: 4px;
  p {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    font-weight: bolder;
    font-size: 18px;
  }
}

.card-product .desc-wrapper {
  padding: 4px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  place-content: end;
}
