<div class="card-product">
  <div class="desc-wrapper">
   <mat-icon [style.color]="'#e28500'">star</mat-icon> &nbsp;
   <span>{{product.rating.rate}}</span>
  </div>
  <img [src]="product.image" alt="">
  <div class="title-wrapper">
    <p>{{product.title}}</p>
    <span><b>{{product.price | currency:'$ ':'symbol':'1.2' }}</b></span>
  </div>
</div>
