.app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  ::ng-deep .mat-sidenav-container {
    display: flex;
    flex: 1;
  }
  ::ng-deep .mat-drawer-content {
    width: 100%;
  }
  .is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
  }
}
