<div class="app-main">
  <app-toolbar></app-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 250px;" mode="over">

    </mat-sidenav>
    <app-content></app-content>
  </mat-sidenav-container>
</div>
