<mat-toolbar class="toolbar-bg">
  <button class="menu-btn-colapsed" (click)="changeOpe()"><mat-icon>center_focus_weak</mat-icon></button>
  <div style="width:100%;">
  </div>
  <button class="menu-btn-colapsed"><mat-icon>search</mat-icon></button>
</mat-toolbar>
