.menu-btn-colapsed {
  display: flex !important;
  background-color: var(--colorSecondary-200);
  border:  1px solid var(--colorSecondaryLight);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

