<div style="max-width: 1100px; margin: auto;">
  <div>
    <div>
      <span>Hello Rocky</span>
      <span>Lets gets somethings?</span>
    </div>
    <div>
      <app-discounts></app-discounts>
    </div>
  </div>

  <div>
    <div>
      Top Categories
      <button>SEE ALL</button>
    </div>
    <app-filter-card (category)="selectArea($event)"></app-filter-card>
  </div>

  <div class="list-product">
    <ng-container *ngFor="let product of listProducts">
      <app-product-card [product]="product"></app-product-card>
    </ng-container>
  </div>

</div>
