<div class="bg-mentor" *ngIf="login">
  <div class="login-wrapper">
    <div class="contents">
      <div class="form-content">
        <div class="title-is">INICIAR SESIÓN</div>
        <form novalidate (ngSubmit)="onLogin($event)" [formGroup]="formLogin">

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="text" autocomplete="ÑÖcompletes" matInput  formControlName="username">
            <mat-icon style="color: var(--colorPrimary);" matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="ÑÖcompletes"  formControlName="password">
            <mat-icon style="color: var(--colorPrimary);" matSuffix>lock</mat-icon>
          </mat-form-field>

          <ng-container>
            <button *ngIf="!loader" class="btn-login" [disabled]="formLogin.invalid">Iniciar Sesión</button>
            <mat-spinner [style.margin]="'auto'" *ngIf="loader" [diameter]="20"></mat-spinner>
          </ng-container>

          <a class="forgot-password">Registrarme</a>
        </form>

      </div>
    </div>
  </div>
</div>
