<div *ngIf="listCategories.length != 0" style="width: 100%; display: flex; justify-content: center; margin: 2em 0;">
  <!--  COMPONENTE GLIDE QUE VERIFICA LAS AREAS -->
  <swiper
    [slidesPerView]="2"
    [spaceBetween]="0"
    [loop]="true"
    [pagination]="false"
    [navigation]="false"
    [breakpoints]="breakpointsCategories">
    <ng-template swiperSlide *ngFor="let area of listCategories; let i =  index;" style="height: 4em; width: 100%;">
      <div class="area-button" (click)="getCategory(area.title)">{{area.title}}</div>
    </ng-template>
  </swiper>
</div>
