@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.area-button {
  width: fit-content;
  max-width: 12rem;
  text-align: center;
  color: black;
  margin: auto;
  line-height: 1.2em;
  cursor: pointer;
  font-family: var(--font_Primario);
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 4px solid #ffffff00;
}
.border {
  background: var(--coLetraDorado);
  margin-left: 1em;
  margin-right: 1em;
  height: 4px;
  border-radius: 12px;
  margin-top: -37px;
}
.area-button:hover {
  color: var(--coLetraDorado);
}
.area-button-active {
  width: fit-content;
  max-width: 12rem;
  color: white;
  margin: auto;
  text-align: center;
  font-family: var(--font_Primario);
  line-height: 1.2em;
  font-weight: 700;
  font-size: 1.5rem;
  height: auto;
  padding-bottom: 4px;
  border-radius: 3px;
  border-bottom: 4px solid var(--coLetraDorado);
}
